@import '../scss/_default';
@import 'scss/_normalize';
@import 'scss/_grid';
@import 'scss/_icons';
@import 'scss/_shared';


.ApplicationList {
  height: 100%;
}

.Application {
  overflow: hidden;
  page-break-inside: avoid;

  @media print {
    width: 28cm;
    height: 19cm;
    margin: 0 auto;
    border-top: 1cm solid transparent;
  }
}

.Application-items {
  border-bottom: 3.1rem solid transparent;
  z-index: 10;
}


.Application-prev,
.Application-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  z-index: 50;
}

.Application-prev {
  left: 0;
}

.Application-next {
  right: 0;
}

.Application-footer {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  font-size: 0.875rem;
}

.Application-logo {
  height: 2.3em;
  vertical-align: middle;
  margin-right: 0.5em;
}

.Application-info {
  position: absolute;
  right: 0;
  bottom: -0.2em;
  font-family: $title-font;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.2;

  time {
    display: block;
    color: #888;
  }
}

.Application-wf {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: em(5px);
}

.Application-page {
  text-align: center;
  font-family: $title-font;
  font-weight: 400;
}





// Default slide style
// ------------------------------------------

.SlideItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $slide-bg;
  background-clip: content-box;
  border: 1.25rem solid #FFF;

  h1 {
    font: 600 5.6rem/1.1 $title-font;
    text-transform: uppercase;

    u { border-bottom: 0.05em solid; }
  }

  h2 {
    font: 600 4.6rem/1.1 $title-font;
    text-transform: uppercase;

    u { border-bottom: 0.06em solid; }
  }

  h4 {
    margin: 0.2em 0;
    font: 400 2rem/1.2 $title-font;
    text-transform: uppercase;
  }

  h2 + h4 {
    margin-bottom: 0.8em;
  }

  p, ul, ol {
    font-size: 3.1rem;
    line-height: 1.2;
    color: $primary-color;
  }

  u {
    display: inline-block;
    border-bottom: 0.08em solid;
    line-height: 0.75;
    text-decoration: none;
  }

  ul, ol {
    counter-reset: list;
    list-style: none;
    margin-top: 0.3em;
  }

  li { 
    position: relative; 
    padding-left: 0.5em;
    margin-bottom: 0.3em;

    &:before {
      display: inline-block;
      color: $secondary-color;
      vertical-align: middle;
    }
  }

  ul li:before {
    content: '▶';
    width: 1.5em;
    margin-left: -1.5em;
    font-size: 0.3em;
  }

  ol li {
    padding-left: 0.9em;
  }

  ol li:before {
    counter-increment: list;
    content: counter(list) ".";
    width: 1.3em;
    margin-left: -1.3em;
    font-size: 0.65em;
    font-family: $title-font;
  }

  .SlideItem-inlineFigure {
    position: relative;
    width: 50%;
    height: 0;
    margin-top: 3em;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 200%;
    }
  }
}


// Slide transition
// ------------------------------------------

.SlideItem {
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: transform 1.0s cubic-bezier(0.6,0,0.65,1) 0.2s;

  &.to-forw-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: opacity 0.1s ease 0s;
    // do not use z-index or it will blink
  }

  &.to-forw-enter-active {
    opacity: 1;
  }

  &.to-forw-leave {
    // transform: translate3d(0, 0, 0);
    // transition: all 0.5s $nice-ease 0s;
  }

  &.to-forw-leave-active {
    transition-delay: 0.3s;
    transform: translate3d(-100%, 0, 0);
  }


  &.to-back-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 0.1s ease 0s;
  }

  &.to-back-enter-active {
    opacity: 1;
  }

  &.to-back-leave {
    // transform: translate3d(0, 0, 0);
    // transition: all 0.5s $nice-ease 0s;
  }

  &.to-back-leave-active {
    transition-delay: 0.3s;
    transform: translate3d(100%, 0, 0);
  }

}



// Slide content transitions
// ------------------------------------------


  .to-forw-enter .SlideItem-text {
    h1, h2, h3, h4, p, figure, li {
      opacity: 0;
    }

    h1, h2, h3, h4, p, li {
      transform: translate3d(20rem, 0, 0);

      &:nth-child(2) { transform: translate3d(30rem, 0, 0); }
      &:nth-child(3) { transform: translate3d(40rem, 0, 0); }
      &:nth-child(4) { transform: translate3d(50rem, 0, 0); }
      &:nth-child(5) { transform: translate3d(60rem, 0, 0); }
    }
  }

  .to-forw-leave .SlideItem-text {
    h1, h2, h3, h4, p, figure, li {
      transition-delay: 0s;
      opacity: 0;
    }

    h1, h2, h3, h4, p, li {
      transform: translate3d(-20rem, 0, 0);

      &:nth-child(2) { transform: translate3d(-16rem, 0, 0); }
      &:nth-child(3) { transform: translate3d(-12rem, 0, 0); }
      &:nth-child(4) { transform: translate3d(-08rem, 0, 0); }
      &:nth-child(5) { transform: translate3d(-04rem, 0, 0); }
    }
  }


  // transition starts on -active class removal
  .SlideItem-text {
    h1, h2, h3, h4, p, figure, li {
      opacity: 1;
      transform: translate(0,0) scale(1,1);
      transition: all 1.5s $nice-ease 0.5s;
    }
    
    figure { transition-delay: 1.8s; }

    h4 ~ ul li {
      transition-delay: 0.7s;
    }
  }

