// Grid module

.g {}

.g-left {
  float: left;
}

.g-right {
  float: right;
}

.g-sm25 { width: 25%; }
.g-sm33 { width: 33%; }

.g-cover {
  position: relative;
  width: 100%;
  height: 100%;
}

.g-wrapper {
  width: 55rem;
}

.g-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-topLeft {
  position: absolute;
  top: em(65px);
  left: em(40px);
}