// Typography
// -------------------------

$base-font-size: 16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.
$base-rhythm-unit: 8px;

$sans-serif: 'Avenir Next', Helvetica, sans-serif;
$base-font-family: $sans-serif;
$title-font: 'Avenir Next Condensed', 'Arial Narrow', sans-serif;



// Media queries
// -------------------------

$small: max-width 650px;
$mid: 651px;
$large: 951px;
$xlarge: 1250px;
$mid-only: $mid $large;

$highres: -webkit-min-device-pixel-ratio 2, min-resolution 192dpi, min-resolution 2dppx;



// Colors
// -------------------------

$text-color: #3C3C3B;
$primary-color: #62BBAF;
$secondary-color: #EC4642;
$slide-bg: #E6F3F0;



// Utility vars
// -------------------------

$transparent-gif: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7';

$nice-ease: cubic-bezier(0.215, 0.610, 0.355, 1.000);