@import '../scss/_default';


.SlideDeck-items {
  border-bottom: em(50px) solid transparent;
  z-index: 10;
}


.SlideDeck-prev,
.SlideDeck-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  z-index: 50;
}

.SlideDeck-prev {
  left: 0;
}

.SlideDeck-next {
  right: 0;
}

.SlideDeck-footer {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  font-size: 0.875rem;
}

.SlideDeck-logo {
  height: 2.3em;
  vertical-align: middle;
  margin-right: 0.5em;
}

.SlideDeck-info {
  position: absolute;
  right: 0;
  bottom: -0.2em;
  font-family: $title-font;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.2;

  time {
    display: block;
    color: #888;
  }
}

.SlideDeck-wf {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: em(5px);
}

.SlideDeck-page {
  text-align: center;
  font-family: $title-font;
  font-weight: 400;
}





// Default slide style
// ------------------------------------------

.SlideItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $slide-bg;
  border: 1.25rem solid #FFF;

  h1 {
    font: 600 5.6rem/1.1 $title-font;
    text-transform: uppercase;

    u { border-bottom: 0.05em solid; }
  }

  h2 {
    font: 600 4.6rem/1.1 $title-font;
    text-transform: uppercase;

    u { border-bottom: 0.06em solid; }
  }

  h4 {
    font: 400 2rem/1.2 $title-font;
    text-transform: uppercase;
  }

  h2 + h4 {
    margin: 0.2em 0 0.8em;
  }

  p, ul, ol {
    font-size: 3.1rem;
    line-height: 1.2;
    color: $primary-color;
  }

  u {
    display: inline-block;
    border-bottom: 0.08em solid;
    line-height: 0.75;
    text-decoration: none;
  }

  ul, ol {
    list-style: none;
    margin-top: 0.3em;
  }

  li { 
    position: relative; 
    padding-left: 0.5em;
    margin-bottom: 0.3em;
  }

  ul li:before {
    content: '▶';
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
    color: $secondary-color;
    font-size: 0.3em;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
  }
}


// Slide transition
// ------------------------------------------

.SlideItem {
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: transform 0.8s ease 0.2s;

  &.to-forw-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: opacity 0.1s ease 0s;
  }

  &.to-forw-enter-active {
    opacity: 1;
  }

  &.to-forw-leave {
    // transform: translate3d(0, 0, 0);
    // transition: all 0.5s $nice-ease 0s;
  }

  &.to-forw-leave-active {
    transition-delay: 0.3s;
    transform: translate3d(-100%, 0, 0);
  }


  &.to-back-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 0.1s ease 0s;
  }

  &.to-back-enter-active {
    opacity: 1;
  }

  &.to-back-leave {
    // transform: translate3d(0, 0, 0);
    // transition: all 0.5s $nice-ease 0s;
  }

  &.to-back-leave-active {
    transition-delay: 0.3s;
    transform: translate3d(100%, 0, 0);
  }

}



// Slide content transitions
// ------------------------------------------


  .to-forw-enter .SlideItem-text {
    h1, h2, h3, h4, p, figure, li {
      opacity: 0;
    }

    h1, h2, h3, h4, p, li {
      transform: translate3d(20rem, 0, 0);

      &:nth-child(2) { transform: translate3d(30rem, 0, 0); }
      &:nth-child(3) { transform: translate3d(40rem, 0, 0); }
      &:nth-child(4) { transform: translate3d(50rem, 0, 0); }
      &:nth-child(5) { transform: translate3d(60rem, 0, 0); }
    }
  }

  .to-forw-leave .SlideItem-text {
    h1, h2, h3, h4, p, figure, li {
      transition-delay: 0s;
      opacity: 0;
    }

    h1, h2, h3, h4, p, li {
      transform: translate3d(-30rem, 0, 0);

      &:nth-child(2) { transform: translate3d(-25rem, 0, 0); }
      &:nth-child(3) { transform: translate3d(-20rem, 0, 0); }
      &:nth-child(4) { transform: translate3d(-15rem, 0, 0); }
      &:nth-child(5) { transform: translate3d(-10rem, 0, 0); }
    }
  }


  // transition starts on -active class removal
  .SlideItem-text {
    h1, h2, h3, h4, p, figure, li {
      opacity: 1;
      transform: translate(0,0) scale(1,1);
      transition: all 1.5s $nice-ease 0.2s;
    }
    
    figure { transition-delay: 1.5s; }
  }
